<h2>Profile Page</h2>

<div>
  <% if @user!=nil %>
      <table>
        <tr>
          <td>Name: </td>
          <td><%= @user.name %> </td>
        </tr>
        <tr>
          <td>Email: </td>
          <td><%= @user.email %> </td>
        </tr>
        <tr>
          <td>Mobile: </td>
          <td><%= @user.mobile %> </td>
        </tr>

      </table>

    </div>

    <div>
      <% if current_user.id==@user.id %>
        <%= link_to "Edit", edit_user_registration_path %>
      <% elsif Connection.find_by_following_id_and_follower_id(@user.id, current_user.id).nil? %>
          <%= form_tag(connection_index_path, :method => "post") do %>
              <%= hidden_field_tag(:email, @user.email) %>
              <%= submit_tag("Add") %>
          <% end %>
       <% else %>
          <%= form_tag(connection_path(current_user.id), method: "put") do %>
              <%= hidden_field_tag(:user_id, @user.id) %>
              <%= submit_tag("UnFollow") %>
          <% end %>
      <% end %>
  <% else %>
  <p>No user found</p>
  <% end %>
</div>

